.admin-container .icon{
    display: flex;
    align-items: center;
    padding: 15px;
    width: 15px;
    height: 15px;
    background-color: aqua;
    margin-top: -40px;
}

.admin-container{
    text-align: center;
}

.info-admin{
    text-align: start;
}

.admin-card{
    /*border-radius: 15px;*/
    border-bottom: 1px solid #787878;
}

.admin-container .add-button .icon{
    background-color: lawngreen;
}

.buttons-admin{
    display: block;
    padding: 15px;
}

.edit-button{
    display: block;
    float: right;
    margin-right: 5px;
}
.remove-button{
    display: block;
    float: right;
}
